<html>
  <head>
    <title>RESTaurant</title>
    <link rel="stylesheet" href="/stylesheets/styles.css">
  </head>
  <body>

    <div class="column" id = 'menu-column'>
      <ul class='list-view' id='food-list'>

      </ul>
    </div>

    <h2>Greetings Manager</h2>

    <form action="/sessions" method='post'>
      <input type="hidden" name='_method' value='delete'>
      <input type="submit" value='log-out'>
    </form>

    <form action="/api/foods" method="post">
      <input type="text" name="food[name]" placeholder="name...">
      <input type="text" name="food[price]" placeholder="price...">
      <input type="submit" value="add food">
    </form>

    <!-- ****** JS Libraries ****** -->
    <script src='/scripts/lib/jquery.js'></script>
    <script src='/scripts/lib/underscore.js'></script>
    <script src='/scripts/lib/backbone.js'></script>

    <!-- ****** Backbone Models ****** -->
    <script src='/scripts/models/FoodModel.js'></script>
    <script src='/scripts/models/PartyModel.js'></script>
    <script src='/scripts/models/OrderModel.js'></script>

    <!-- ****** Backbone Collection ****** -->
    <script src='/scripts/collections/FoodCollection.js'></script>
    <script src='/scripts/collections/PartyCollection.js'></script>
    <script src='/scripts/collections/OrderCollection.js'></script>

    <!-- ****** Backbone Views ****** -->
    <script src='/scripts/views/MenuFoodView.js'></script>
    <script src='/scripts/views/OrderFoodView.js'></script>
    <script src='/scripts/views/PartyView.js'></script>
    <script src='/scripts/views/OrderView.js'></script>
    <script src='/scripts/views/ListView.js'></script>
    <script src='/scripts/views/OrderListView.js'></script>
    <script src='/scripts/views/PullDownView.js'></script>

    <!-- ****** JS Application ****** -->
    <script src='/scripts/app.js'></script>

</html>
