<html>
  <head>
    <title>RESTaurant</title>
    <link rel="stylesheet" href="/stylesheets/styles.css">
  </head>
  <body>
    <h1>Welcome to VARCHAR(255)</h1>
    <h2>We don't accept analog coin currency</h2>
    <h2>We don't split checks</h2>


    <div>
      <select class="pull-down" id = 'party-list'></select>
      <input type="button" value="Order" id = "place-order">
      <input type="button" value="Check" id = "check-out">
    </div>


    <div class="column" id = 'menu-column'>
      <ul class='list-view' id='food-list'>

      </ul>
    </div>

    <div class="column" id = 'party-column'>
      <ul class='list-view' id='order-list'>

      </ul>
    </div>


    <!-- ****** JS Libraries ****** -->
      <script src='/scripts/lib/jquery.js'></script>
      <script src='/scripts/lib/underscore.js'></script>
      <script src='/scripts/lib/backbone.js'></script>

      <!-- ****** Backbone Models ****** -->
      <script src='/scripts/models/FoodModel.js'></script>
      <script src='/scripts/models/PartyModel.js'></script>
      <script src='/scripts/models/OrderModel.js'></script>

      <!-- ****** Backbone Collection ****** -->
      <script src='/scripts/collections/FoodCollection.js'></script>
      <script src='/scripts/collections/PartyCollection.js'></script>
      <script src='/scripts/collections/OrderCollection.js'></script>

      <!-- ****** Backbone Views ****** -->
      <script src='/scripts/views/MenuFoodView.js'></script>
      <script src='/scripts/views/OrderFoodView.js'></script>
      <script src='/scripts/views/PartyView.js'></script>
      <script src='/scripts/views/OrderView.js'></script>
      <script src='/scripts/views/ListView.js'></script>
      <script src='/scripts/views/PullDownView.js'></script>

      <!-- ****** JS Application ****** -->
      <script src='/scripts/app.js'></script>

    </body>
</html>
