<html>
  <head>
    <title>RESTaurant</title>
    <link rel="stylesheet" href="/stylesheets/styles.css">
  </head>
  <body>
    <h1>Welcome to VARCHAR(255)</h1>
    <h2>We don't accept analog coin currency</h2>
    <h2>We don't split checks</h2>

        <script charset="utf-8" src='/javascripts/lib/jquery.js'></script>
        <script charset="utf-8" src='/javascripts/lib/underscore.js'></script>
        <script charset="utf-8" src='/javascripts/lib/backbone.js'></script>

        <script charset="utf-8" src='/javascripts/app.js'></script>
  </body>
</html>
